* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courgette', cursive;
  width: 100%;
}

h1 {
  background: rgba(0, 0, 0, 0.71);
  color: #438640;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  font-size: 3em;
  text-shadow: 5px 5px 10px #305f1f;
  z-index: 2;
} 

.carusel {
  background-image: url('./assets/background.jpeg'); 
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__container {
    z-index: 2;
    width: 50%;
    height: 45%;
    overflow: hidden;
    background: rgba(0,0,0,0.35);
    position: relative;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 1.5s;  
  }
  &__item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.35);
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 7%;
      left: 5%;
      width: 90%;
      height: 86%;
      background: rgba(239, 242, 239, 0.55);
      z-index: 1;
    }
  }
  &__quote {
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 24px;
    padding: 10px;
    max-width: 40%;
    z-index: 2;
    p {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.8em;
      letter-spacing: 2px;
      line-height: 40px;
    }
    p:last-child {
      font-size: 30px;
    }
  }
  &__img {
    max-width: 60%;
    border: 20px solid rgba(0, 0, 0, 0.64);
    margin: 10px;
    max-height: 70%;
    z-index: 2;
  }
  &__prev-button,
  &__next-button {
    position: absolute;
    top: 45%;
    color: #fff;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 5px;
    z-index: 2;
    cursor: pointer;
    outline: none;
    &:active {
      outline: none;
    }
  }
  &__prev-button {
    left: 5px;
  }
  &__next-button {
    right: 5px;
  }
  &__about-me {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.71);
    z-index: 2;
    span {
      margin-right: 10px;
    }
  }
  &__github-link {
    font-size: 20px;
    background: #438640;
    box-shadow: 0px 0px 5px 5px #438640;
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    &:hover,
    &:active {
      box-shadow: 0px 0px 10px 10px rgb(184, 69, 219);
    }
  }
}