* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Girassol', cursive;
  width: 100%;
}

h1 {
  background: rgb(236, 234, 88);
  color: rgb(201, 28, 28);
  padding: 30px 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.carusel {
  background-image: url('./assets/background.jpg');
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__container {
    z-index: 2;
    width: 50%;
    height: 45%;
    overflow: hidden;
    background: #000;
    position: relative;
  }
  &__items {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all .5s;
  }
  &__item {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;
  }
  &__quote {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    padding: 10px;
    max-width: 40%;
    p {
      text-align: center;
      margin-bottom: 20px;
    }
    p:last-child {
      font-size: 30px;
    }
  }
  &__img {
    max-width: 60%;
    border: 5px solid #fff;
    margin: 10px;
    max-height: 70%;
  }
  &__prev-button,
  &__next-button {
    position: absolute;
    top: 45%;
    color: #fff;
    border: none;
    background: rgba(46, 45, 45, 0.849);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 5px;
    z-index: 2;
    cursor: pointer;
    outline: none;
    &:active {
      outline: none;
    }
  }
  &__prev-button {
    left: 5px;
  }
  &__next-button {
    right: 5px;
  }
  &__about-me {
    padding: 10px 0;
    text-align: center;
    color: #000;
    width: 100%;
    background: #fff;
    z-index: 2;
    span {
      margin-right: 10px;
    }
  }
  &__github-link {
    font-size: 20px;
    background: rgb(184, 69, 219);
    box-shadow: 0px 0px 5px 5px rgb(184, 69, 219);
    text-decoration: none;
    color: rgb(240, 236, 12);
    transition: all 0.5s;
    &:hover,
    &:active {
      box-shadow: 0px 0px 10px 10px rgb(184, 69, 219);
    }
  }
}